@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');
.chat-app {
    width: 80%;
    height: 100%;
    display: flex;
    margin-left: 10%;
    justify-content: center;

    .time-message {
        color: #b8b6b6;
        font-size: 15px;
        text-align: center;
        margin: 20px;
        
    }

    .channel-list {
        width: calc(35% - 12px);
        min-width: 160-px;
        border: 1px solid rgb(224, 224, 224);
        margin: 10px;
        margin-right: 0;
        border-right: none;
        height: calc(100% - 22px);
        background-color: rgb(243, 239, 239);
        overflow: auto;
        overflow-x: hidden;
        .row {
            display: flex;
            width:100% !important;
            border-bottom: 1px solid rgb(224, 224, 224);
            padding: 10px;
            .chat-icon{
                margin: 10px 10px;
                color:rgb(95, 83, 145);
                float: left;
            }
            .channel-item {
                padding: 10px;
                width: 100%;
                div {
                    font-weight: bold;
                }
        
                span {
                    font-size: 10px;
                    color:rgb(97, 96, 96);
                }
            }
            &:hover {
                background-color: rgb(199, 194, 219);
                cursor: pointer;
            }
        }
        .loadingDiv{
            position: "fixed";
            top: "50%";
            left: "50%";
            padding-top:30px;
            transform: "translate(-50%, -50%)"
        }
    }

    .messages-panel {
        width: calc(80% - 12px);
        border: 1px solid rgb(224, 224, 224);
        margin: 10px;
        margin-left: 0;
        height: calc(100% - 22px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        -webkit-box-shadow: 0 0px 6px 0px rgb(170, 170, 170);
        -moz-box-shadow: 0 0px 6px 0px rgb(170, 170, 170);
        box-shadow: 0 0px 6px 0px rgb(170, 170, 170);
        .no-content-message {
            color: #b8b6b6;
            
            font-size: 16px;
            text-align: center;
            // padding: 100px 0px;
            padding: 80px 0px;
            float: left;
            width: 100%;
            height: 100%;
            overflow: hidden;
            h5 {
                color: mix(#fff, #000000, 75%);
                font-size: 40px; 
                margin: 0 40px; 
                font-weight: 600;
                text-shadow: 
                    -0.0075em 0.0075em 0 mix(#fff, #000000, 84%),
                    0.005em 0.005em 0 mix(#fff, #000000, 50%),
                    0.01em 0.01em 0 mix(#fff, #000000, 52%), 
                    0.015em 0.015em mix(#fff, #000000, 54%), 
                    0.02em 0.02em 0 mix(#fff, #000000, 56%), 
                    0.025em 0.025em 0 mix(#fff, #000000, 58%),
                    0.03em 0.03em 0 mix(#fff, #000000, 60%),
                    0.035em 0.035em 0 mix(#fff, #000000, 62%);
            }
            h1 {
                font-size: 3vw;
                max-width: 50vw;
                color: #999999;
                margin: 0px 50px;
                span {
                  background-image: linear-gradient(
                    transparent calc(65% - 5px),
                    darken(#eaf0ff, 1%) 5px,
                  );
                  background-size: 0;
                  background-repeat: no-repeat;
                  display: inline;
                  transition: 0.5s ease;
                }
                
                &:hover {
                  span {
                    background-size: 100%;
                  }
                }
              }
            .no-content-message-image{
                
                object-fit: contain;
                width: 65%;
                height: 60%;

            }
        }
        .messages-header {
            width: 100%;
            height: 80px;
            border-top: 1px solid rgb(224, 224, 224);
            background-color: #f0f0f0;
            display: flex;
            button {
                margin: 5px 5px;
                border-radius: 1000px;
                // background-color: #a590f1;
                color: rgb(0, 0, 0);
                border-radius: 1000;
                padding: 8px 5px;

                &:hover {
                    cursor: pointer;
                    color: rgb(95, 83, 145);
                    background-color:#f0f0f0;
                }
            }
            .channel-name{
                width: 80%;
                margin: auto;
                margin-left:  20px;
                margin-right:20px;
                color: rgb(68, 68, 68);
            }
            .right{
                float: right;
            }
        }
        .messages-list {
            list-style: none;
            align-self: stretch;
            height: 100%;
            overflow-y: auto;
            
            
            .message-item-him{
                
                margin: 0;
                padding: 20px;
                span{
                    clear: both;
                    padding: 12px;
                    border-radius: 30px;
                    margin-bottom: 2px;
                    font-family: Helvetica, Arial, sans-serif;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 30px;
                    background: rgb(204, 204, 204);
                    float: left;
                }
                div {
                    clear:both;
                    float: left;
                    font-size: 10px;
                    color:rgb(97, 96, 96);
                }
            }
            .message-item{
                
                margin: 0;
                padding: 20px;
                span{
                    
                    clear: both;
                    padding: 12px;
                    border-radius: 30px;
                    margin-bottom: 2px;
                    font-family: Helvetica, Arial, sans-serif;
                    float: right;
                    background: rgb(95, 83, 145);
                    color: #fff;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 30px;
                }
                div {
                    clear:both;
                    float: right;
                    font-size: 10px;
                    color:rgb(97, 96, 96);
                }
            }
            
            
        }

        .messages-input {
            width: 100%;
            height: 50px;
            border-top: 1px solid rgb(224, 224, 224);
            background-color: #f0f0f0;
            display: flex;

            input {
                margin: auto;
                height: 30px;
                width: 100%;
                margin-left: 15px;
                border-radius: 5px;
                border: 1px solid rgb(224, 224, 224);

                &:focus {
                    border-radius: 5px;
                    border: 2px solid #beadfc;
                    outline: none;
                }
            }

            button {
                margin: 5px 10px;
                // background-color: #0e62da;
                color: rgb(88, 88, 88);
                border-radius: 1000;
                padding: 8px 8px;

                &:hover {
                    cursor: pointer;
                    color: rgb(95, 83, 145);
                    background-color: #f0f0f0;
                }
            }
        }
    }
}